<h1>Welcome, user</h1> <!-- Replace 'user' with {{username}} -->
<h2>Booked Room IDs:</h2>
<form>
    <table style="width:15%">
        <tr>
            <th>Room ID</th>
            <th>Unbook</th>
        </tr>
        <tr>
            <td>1</td>
            <td><input value="Unbook" type="submit"></td>
        </tr>
        <tr>
            <td>3</td>
            <td><input value="Unbook" type="submit"></td>
        </tr>
        <tr>
            <td>5</td>
            <td><input value="Unbook" type="submit"></td>
        </tr>
    </table>
</form>
<br>
<form>
    <input type="submit" value="Logout">
</form>