<h1>Admin Home Page</h1>
<h1>Welcome, {{username}}</h1>
<form method="post" action="to__admin_bookings">
    <input value="All Bookings" type="submit">
</form>
<form method="post" action="to_add">
    <input value="Add Rooms" type="submit">
</form>
<form method="post" action="logout">
    <input type="submit" value="Logout">
</form>