<h1>Your Booking Was <span class="Confirmed">Successful!</span></h1>
<div class="success-view">
    <form method="post" action="back_customer">
        <button type="submit">Home</button>
    </form>
    <form method="post" action="to_bookings" class="success-view-button">
        <button type="submit">View Bookings</button>
    </form>
</div>