<p>CHOOSE SERVICES for room {{this.roomToBookId}}</p>
<form method="post" action="confirm_services">
    <label for="lateCheckout">Late Checkout</label><input name="lateCheckout" type="checkbox"><br />
    <label for="babyCrib">Baby Crib</label><input name="babyCrib" type="checkbox"><br />
    <label for="petHotel">Pet Hotel</label><input name="petHotel" type="checkbox">
    <button type="submit" name="checkout">Checkout</button>
</form>