<h1>Customer Home Page</h1>
<h1>Welcome, {{username}}</h1>

<form method="post" action="to_bookings">
    <input value="My Bookings" type="submit">
</form>
<form method="post" action="to_search">
    <input value="Search Rooms" type="submit">
</form>
<form method="post" action="logout">
    <input type="submit" value="Logout">
</form>