<h1>Welcome {{username}}</h1>

<div class="customer-home">
    <form method="post" action="to_bookings">
        <button class="big-button" value="My Bookings" type="submit">My Bookings</button>
    </form>
    <form method="post" action="to_search">
        <button class="big-button" value="Search Rooms" type="submit">Search Rooms</button>
    </form>
    <form method="post" action="logout">
        <button class="big-button" type="submit" value="Logout">Logout</button>
    </form>
</div>