<h1>Welcome, {{username}}</h1> <!-- Replace 'user' with {{username}} -->
<h2>Booked Room IDs:</h2>
<form>
    <table style="width:15%">
        <tr>
            <th>Room ID</th>
            <th>Number of Beds</th>
            <th>Bed Size</th>
            <th>Cancel</th>
        </tr>
        <tr>
            <td>1</td>
            <td>1</td>
            <td>King</td>
            <td><input value="Cancel" type="submit"></td>
        </tr>
        <tr>
            <td>3</td>
            <td>1</td>
            <td>Queen</td>
            <td><input value="Cancel" type="submit"></td>
        </tr>
    </table>
</form>
<br>
<form>
    <input type="submit" value="Logout">
</form>