<h1>Hotel Booking</h1>
<h2>Login</h2>
<form>
    <input type="text" placeholder="Enter Username">
    <br>
    <input type="password" placeholder="Enter Password">
    <br>
    <input value="Login" type="submit">
    <br>
    <input value="Register" type="submit">
</form>
