<h1>Hotel Booking</h1>
<h2>Login</h2>
<form method="post">
    <input name="username" type="text" placeholder="Enter Username">
    <br>
    <input name="password" type="password" placeholder="Enter Password">
    <br>
    <br>
    <button value="Login" name="login" type="submit">Login</button>
    <br>
    <br>
    <button value="Register" name="register" type="submit">Register</button>
</form>