<h1>Hotel Booking</h1>
<h2>Login</h2>
<form method="post">
    <input name="username" type="text" placeholder="Enter Username">
    <br>
    <input name="password" type="password" placeholder="Enter Password">
    <br>
    <input name="login" value="Login" type="submit">
    <br>
    <input name="register" value="Register" type="submit">
</form>
