<h1>Hotel Booking</h1>
<div class="login-view">
    <h2>Login</h2>
    <form method="post" class="login-view">
        <input class="login-element" name="username" type="text" placeholder="Enter Username">
        <input class="login-element" name="password" type="password" placeholder="Enter Password">
        <button class="login-element" value="Login" name="login" type="submit">Login</button>
        <button class="login-element" value="Register" name="register" type="submit">Register</button>
    </form>
    <div class="{{status}}-row">
        <span>Error:</span>
        <span>{{error}}</span>
    </div>
</div>