<h1>Payment Summary</h1>

<form method="post">
   <ul>
        <li>Room Price:     ${{price}}</li> 
        <li>Extra Services: $</li>
        <li>Subtotal:       $</li>
        <li>Tax:            ${{tax}}</li>
        <li>Total:          ${{total}}</li>     
    </ul>
    <input name="owner" type="text" placeholder="Card Owner">
    <br>
    <br>
    <input name="credit_num" placeholder="Credit Card Number">
    <br>
    <br>
    <input name="csv" placeholder="CSV">
    <br>
    <br>
    <input name="exp" type="text" placeholder="Expiry Date mm-yy">
    <br>
    <br>
    <input name="pay" value="Pay Now" type="submit">
    <br>
    <br>
    <input name="back" value="Back" type="submit">
</form>