<h1>Payment Summary</h1>
<form>
    <input placeholder="Credit Card Number">
    <br>
    <br>
    <input placeholder="CSV">
    <br>
    <br>
    <input value="Pay Now" type="submit">
    <br>
    <br>
    <input value="Back" type="submit">
</form>