<h1>Payment Summary</h1>
<form>
    <ul>
        <li>Room Price:     $</li>
        <li>Extra Services: $</li>
        <li>Subtotal:       $</li>
        <li>Tax:            $</li>
        <li>Total:          $</li>
    </ul>
    <input placeholder="Credit Card Number">
    <br>
    <br>
    <input placeholder="CSV">
    <br>
    <br>
    <input value="Pay Now" type="submit">
    <br>
    <br>
    <input value="Back" type="submit">
</form>