<h1>Search For Rooms</h1>
<form method="post">
    <label for="numBeds">Number of Beds</label>
    <input name="numBeds" type="number">
    </br>

    <label for="bedSize">Minimum bed Size</label>
    <select name="bedSize">
        <option>King</option>
        <option>Queen</option>
        <option>Double</option>
        <option>Twin</option>
    </select>
    </br>

    <label for="roomSize">Room Size</label>
    <select name="roomSize">
        <option>Penthouse</option>
        <option>Large</option>
        <option>Medium</option>
        <option>Small</option>
    </select>
    </br>

    <label for="viewDirection">View Direction</label>
    <select name="viewDirection">
        <option>Any</option>
        <option>North</option>
        <option>East</option>
        <option>South</option>
        <option>West</option>
    </select>
    </br>

    <label for="maxPrice">Maximum Price</label>
    <input name="maxPrice" type="number">
    </br>

    <label for="startDate">From</label>
    <input name="startDate" type="date">
    </br>

    <label for="endDate">To</label>
    <input name="endDate" type="date">
    </br>

    <button>Search</button>

</form>