body {
  padding: 25px 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

table,
th,
td {
  border: 1px solid black;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.horizontal-line {
  width: 100%;
  height: 1px;
  background-color: black;
}

button {
  width: 100px;
  height: 34px;
  background-color: #1e74ff;
  color: white;
  border: 0;
  cursor: pointer;
  outline: none;
  font-family: monospace;
}

.big-button {
  width: 300px;
  height: 300px;
  font-size: xx-large;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

button:hover {
  background-color: #5194ff;
}

button:focus {
  background-color: #88b5ff;
}

select {
  font-family: monospace;
  border: 0;
}

input {
  font-family: monospace;
  outline: none;
  border: 1;
}

option {
  outline: none;
  border: 0;
}

h1 {
  font-family: sans-serif;
  text-align: center;
  font-size: xx-large;
}

.small-input {
  width: 90px;
}

/* Search View */

.search-view {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.search-view-content {
  padding: 25px 50px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.form-view {
  width: 350px;
  padding: 30px;
  background-color: #c3daff;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  font-family: monospace;
  font-size: x-large;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.result-card {
  width: 250px;
  height: 250px;
  padding: 15px 25px;
  box-sizing: border-box;
  background-color: #c3daff;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.result-card-line {
  display: flex;
  justify-content: space-between;
  font-family: monospace;
}

.result-card-title {
  font-weight: bold;
  font-family: monospace;
  font-size: x-large;
  text-align: center;
  margin-bottom: 20px;
}

/* Customer Bookings View */

.bookings-view {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.bookings-view-content {
  padding: 25px 50px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.bookings-view-form {
  width: 350px;
  padding: 30px;
  background-color: #c3daff;
}

.bookings-row {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  font-family: monospace;
  font-size: x-large;
}

.bookings-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bookings-card {
  width: 350px;
  height: 500px;
  padding: 15px 25px;
  box-sizing: border-box;
  background-color: #c3daff;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bookings-card-line {
  display: flex;
  justify-content: space-between;
  font-family: monospace;
}

.bookings-card-title {
  font-weight: bold;
  font-family: monospace;
  font-size: x-large;
  text-align: center;
  margin-bottom: 20px;
}

/* Customer Home Page */

.customer-home {
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
}

/* Login View */
.login-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-element {
  margin-top: 20px;
}

/* Payment View */
.payment-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Services View */

.services-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Booking status text color */
.Confirmed {
  color: green;
}

.Canceled {
  color: red;
}
.Canceled-button {
  display: none;
}
